.gradle/
build/
out/
.idea/*
!.idea/copyright
*.ipr
*.iws
.DS_Store
*.log
http
.project
.settings
src/test/resources/job-scheduler/
src/test/resources/bwc/
bin/
spi/bin/
src/test/resources/notifications*