name: Backward compatibility test workflow
on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "*"

jobs:
  test:
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
      # This step uses the setup-java Github action: https://github.com/actions/setup-java
      - name: Set Up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin # Temurin is a distribution of adoptium
          java-version: 21
      # index-management
      - name: Checkout Branch
        uses: actions/checkout@v2
      - name: Run IM Backwards Compatibility Tests
        run: |
          echo "Running backwards compatibility tests..."
          ./gradlew bwcTestSuite
      - name: Upload failed logs
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: logs
          overwrite: 'true'
          path: build/testclusters/indexmanagementBwcCluster*/logs/*
