name: Backward compatibility test workflow
on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "*"

jobs:
  bwc:
    name: Backwards compatibility tests
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
      # This step uses the setup-java Github action: https://github.com/actions/setup-java
      - name: Set Up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      # index-management
      - name: Checkout Branch
        uses: actions/checkout@v2
      - name: Run IM Backwards Compatibility Tests
        run: |
          echo "Running backwards compatibility tests..."
          ./gradlew bwcTestSuite
      - name: Upload failed logs
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: logs
          path: build/testclusters/indexmanagementBwcCluster*/logs/*
