name: Multi node test workflow
# This workflow is triggered on pull requests to main
on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - "**"

jobs:
  multi-node-test:
    env:
      TEST_FILTER: ${{ matrix.test_filter }}
    strategy:
      fail-fast: false
      matrix:
        feature: [ism, non-ism]
        include:
          - feature: ism
            test_filter: -PincludeTests="org.opensearch.indexmanagement.indexstatemanagement*"
          - feature: non-ism
            test_filter: -PexcludeTests="org.opensearch.indexmanagement.indexstatemanagement*"
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
      # This step uses the setup-java Github action: https://github.com/actions/setup-java
      - name: Set Up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 17
      # index-management
      - name: Checkout Branch
        uses: actions/checkout@v2
      - name: Run integration tests with multi node config
        run: ./gradlew integTest -PnumNodes=3 ${{ env.TEST_FILTER }}
      - name: Upload failed logs
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: logs
          path: build/testclusters/integTest-*/logs/*
