name: Multi node test workflow
# This workflow is triggered on pull requests to main
on:
  pull_request:
    branches:
      - main
      - development-*
  push:
    branches:
      - main
      - development-*

jobs:
  build:
    # Job name
    name: Build Index Management
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
      # This step uses the setup-java Github action: https://github.com/actions/setup-java
      - name: Set Up JDK 14
        uses: actions/setup-java@v1
        with:
          java-version: 14
      # dependencies: OpenSearch
      - name: Checkout OpenSearch
        uses: actions/checkout@v2
        with:
          repository: 'opensearch-project/OpenSearch'
          path: OpenSearch
          ref: '1.0.0-alpha2'
      - name: Build OpenSearch
        working-directory: ./OpenSearch
        run: ./gradlew publishToMavenLocal -Dbuild.version_qualifier=alpha2 -Dbuild.snapshot=false
      # dependencies: common-utils
      - name: Checkout common-utils
        uses: actions/checkout@v2
        with:
          repository: 'opensearch-project/common-utils'
          path: common-utils
      - name: Build common-utils
        working-directory: ./common-utils
        run: ./gradlew publishToMavenLocal -Dopensearch.version=1.0.0-alpha2
      # dependencies: job-scheduler
      - name: Checkout job-scheduler
        uses: actions/checkout@v2
        with:
          repository: 'opensearch-project/job-scheduler'
          path: job-scheduler
      - name: Build job-scheduler
        working-directory: ./job-scheduler
        run: ./gradlew publishToMavenLocal -Dopensearch.version=1.0.0-alpha2 -Dbuild.snapshot=false
      # dependencies: alerting-notification
      - name: Checkout alerting
        uses: actions/checkout@v2
        with:
          repository: 'opensearch-project/alerting'
          path: alerting
      - name: Build alerting
        working-directory: ./alerting
        run: ./gradlew :alerting-notification:publishToMavenLocal -Dopensearch_version=1.0.0-alpha2
      # index-management
      - name: Checkout Branch
        uses: actions/checkout@v2
      - name: Run integration tests with multi node config
        run: ./gradlew integTest -PnumNodes=3
      - name: Upload failed logs
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: logs
          path: build/testclusters/integTest-*/logs/*
