name: Multi node test workflow
# This workflow is triggered on pull requests to main
on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - "*"

jobs:
  test:
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
      # This step uses the setup-java Github action: https://github.com/actions/setup-java
      - name: Set Up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 17
      # index-management
      - name: Checkout Branch
        uses: actions/checkout@v2
      - name: Run integration tests with multi node config
        run: ./gradlew integTest --tests "org.opensearch.indexmanagement.rollup.interceptor.RollupInterceptor*" --debug
      - name: Upload failed logs
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: logs
          path: build/testclusters/integTest-*/logs/*
